.show-by-id{
    margin:10px;
    padding:5px;
}
.get-specific-info-container{

    display:flex;
    flex-direction:column;
align-items:center; 
justify-items: center;
}
.specific-investment-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
   margin: auto;
  
} 
.info{
    text-align: center;
}
.error{
    text-align: center;
    color:red;
}