.to-center{
    text-align: center;
}
/* app.css */
h1 {
    margin: 0 0 0.5rem 0;
    font-weight: 600;
  }
   
  .menu {
    position: fixed; /* Keeps it fixed in place */
    top: 0; /* Start from the top of the page */
    left: 0; /* Stick to the right side */
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    background: #f9fafb;
    padding: 0.5rem 0;
    width: 25%; /* Adjust as needed */
    height: 100vh; /* Full height of the viewport */
    box-sizing: border-box; /* Ensures padding doesn't affect the overall width/height */
  }
   
  .menu ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: column;
 
  }
   
  .menu li {
    
    color: #1f2937;
   
    padding: 0px 2px; 
    border-radius: 0.375rem;
    /* transition: background 0.2s, color 0.2s; */
  }
   .menu li a {
    text-decoration: none;
  }
   a:hover {
    /* background: #e5e7eb; */
    text-decoration: underline !important; /* Force the underline */
    color: #007bff; 
  
  }
   
  .menu a.active {
    background: #2563eb; /* blue */
    color: white;
  }